---
import React from "react";
import ChevronRight from "../icons/chevronRight.tsx"
import Button from '../components/button.tsx'
import "../assets/main.css";


const { industry } = Astro.props;
// console.log(industry);
const { 
  title, category, sub_category, heroimage, 
  heading, sub_heading, value_prop,
  featured_article1_heading, featured_article1_description,
  featured_article1_image, featured_article1_slug,
  expertise_heading, expertise_subheading,
  expertise_heroimage, expertise_detail,
  featured_article2_heading, featured_article2_description, 
  featured_article2_image, featured_article2_slug, 
  case_studies_heading, case_studies_subheading, 
  case_studies_description, case_studies_category, 
  case_studies_items, videosection_videotitle, 
  videosection_videourl, videosection_heroimage, 
  related_articles_heading, related_articles_subheading, 
  related_articles_description, related_articles_category, 
  related_articles_items} = industry.data;


const { Content } = await industry.render();
const banner_style = {
    backgroundImage:
        "url('"+heroimage+"');",
    minHeight: "60vh",
    width: "100%",            
    backgroundSize: "cover",
    backgroundRepeat: "no-repeat",
};
const expertise_style = {
    backgroundImage:
        "url('"+expertise_heroimage+"')",
    minHeight: "75vh",
    width: "100%",            
    backgroundSize: "cover",
    backgroundRepeat: "no-repeat",
    backgroundAttachment: "fixed",
};
const video_section_style = {
  backgroundImage:
        "url('"+videosection_heroimage+"')",
    width: "100%",       
    minHeight: "35vh",
    padding: "5vmin",
    alignItems: "center",
    justifyContent: "center",
    backgroundSize: "cover",
    backgroundRepeat: "no-repeat"
};
const alt_section_style = {
    backgroundColor: "#7800FF",
};
const category_url = "/"+category;
const category_name =category[0].toUpperCase()+category.slice(1);
const sub_heading_display = sub_heading.toUpperCase()
const featured_article1_link = featured_article1_slug;
const featured_article2_link = featured_article2_slug;
const expertise_table_colours = ["#7800ff","#8c2bfa", "#a14ffe", "#b679fb", "#d3acff"];
const expertise_subheading_display = expertise_subheading.toUpperCase();
const casestudies_subheading_display = case_studies_subheading.toUpperCase();
const videosection_description = "Content to be added";
---

<section class="section">  
  <div class="detailedpage_banner_topper">    
    <div class="detailedpage_banner_topper_categoryheading">
      <a href={category_url}>{category_name.toUpperCase()}</a>
    </div>
    <div class="detailedpage_banner_topper_mainheading">
      <p>{title}</p>
    </div>
  </div>
  <div style={banner_style} >
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-1"/>
      <div class="col-span-10">
        <div class="detailedpage_banner_heading_container">
          <div class="detailedpage_banner_headingbackground">
            <div class="detailedpage_banner_subheading">
              <p>{sub_heading_display}</p>
            </div>
            <div class="detailedpage_banner_heading">
              <h1>{heading}</h1>
            </div>
          </div>
        </div>
        <!-- <div class="grid grid-cols-3 gap-4 detailedpage_banner_featuredarticle">
          <div class="detailedpage_banner_featuredarticle_image col-span-1">
            <img src={featured_article1_image} alt={featured_article1_heading}>
          </div>
          <div class="detailedpage_banner_featuredarticle_text col-span-2">
            <h3>{featured_article1_heading}</h3>
            <p>{featured_article1_description}</p>
            <div class="detailedpage_banner_featuredarticle_button">
              <a href={featured_article1_link}>
                Read More 
                <ChevronRight />
              </a>
            </div>
          </div>
        </div> -->
        <div class="col-span-1"/>
      </div>    
    </div>
  </div>
</section>
<section class="section">
  <div class="detailedpage_valueprop">    
      <p>{value_prop}</p>    
   </div>
</section>
<section class="section">
  <div style={expertise_style}>    
    <div class="detailedpage_expertise_container">
      <div class="detailedpage_expertise_headings_container">
        <div class="detailedpage_expertise_subheading">
          <p>{expertise_subheading_display}</p>
        </div>  
        <div class="detailedpage_expertise_heading">
          <h2>{expertise_heading}</h2>
        </div>  
        {expertise_detail.map((item:any, index:any) => (
          <a href={"../expertise/"+ item.slug}>
            <div class="detailedpage_expertiseitem_container" style={{backgroundColor: expertise_table_colours[index]}}>
              <div class="detailedpage_expertiseitem_heading">
                <p>{item.name}</p>
              </div>
              <div class="detailedpage_expertiseitem_description">
                <p>{item.description}</p>
              </div>
              <div class="detailedpage_expertiseitem_arrow">
                <ChevronRight />              
              </div>
            </div>
          </a>
        ))
        }
      </div>
    </div>
   </div>
</section>
<section class="section">
  <div style={alt_section_style}>
    <div class="detailedpage_featuredarticle_container">
      <div class="detailedpage_featuredarticle_text">
        <div class="detailedpage_featuredarticle_heading">
          <h2>{featured_article2_heading}</h2>
        </div>
        <div >          
          <Button text="Read More" href={"../pulse/"+ featured_article2_link} color="#505050" />          
        </div>
      </div>
      <div class="detailedpage_featuredarticle_image">
        <img src={featured_article2_image} alt={featured_article2_heading}>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="detailedpage_recentnews_container">
    <div class="detailedpage_recentnews_container">
      <div class="detailedpage_recentnews_subheading">
        {case_studies_subheading.toUpperCase()}          
      </div>  
      <div class="detailedpage_recentnews_heading">
        <h2>{case_studies_heading}</h2>
      </div> 
      <div class="detailedpage_recentnews_description">
        <p>{case_studies_description}</p>
      </div>
    </div>
  </div>
  <div class="detailedpage_casestudies_items_container">
    <div>
      {
        case_studies_items.map((item:any, index:any) => (                    
          <div class="grid grid-cols-6 gap-2 detailedpage_casestudiesitem_container">                
            <div class="col-span-6  detailedpage_casestudiesitem_subheading">
              {item.case_study_subheading.toUpperCase()}
            </div>
            <div class="col-span-6 detailedpage_recentnewsitem_image">
              <img src={item.case_study_image} />                  
            </div> 
            <div class="col-span-6  detailedpage_casestudiesitem_heading">
              {item.case_study_title}
            </div>
            <div class="col-span-6">
              <div class="grid grid-cols-2 gap-2">
                <div class="col-span-1"/>
                <div class="col-span-1">
                  <Button text={item.case_study_buttontext} 
                    href={"../casestudies/"+ item.case_study_slug}
                    color="#505050" />
                </div>
              </div>
            </div>                            
          </div>          
        ))
      }
    </div>  
  </div>
</section>
<section class="section">
  <div style={video_section_style}>
    <div class="grid grid-cols-2 gap-4 detailedpage_video_container">      
      <div class="col-span-1">
        <div class="detailedpage_video_heading">
          <h2>{videosection_videotitle}</h2>
        </div>
        <div class="detailedpage_video_description">
          {videosection_description}
        </div>
      </div>
      <div class="col-span-1">
        <div class="detailedpage_videosection">
          <iframe width="420" height="315" src={videosection_videourl} />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="detailedpage_recentnews_container">
    <div class="detailedpage_recentnews_container">
      <div class="detailedpage_recentnews_subheading">
        {related_articles_subheading.toUpperCase()}          
      </div>  
      <div class="detailedpage_recentnews_heading">
        <h2>{related_articles_heading}</h2>
      </div> 
      <div class="detailedpage_recentnews_description">
        <p>{related_articles_description}</p>
      </div>
    </div>
  </div>
  <div class="detailedpage_casestudies_items_container">
    <div>
      {
        related_articles_items.map((item:any, index:any) => (
          
          <a href={"../pulse/"+ item.related_article_slug}>
            <div class="grid grid-cols-6 gap-2 detailedpage_casestudiesitem_container">                
              <div class="col-span-6  detailedpage_casestudiesitem_subheading">
                {item.related_article_subheading.toUpperCase()}
              </div>
              <div class="col-span-6 detailedpage_recentnewsitem_image">
                <img src={item.related_article_image} />                  
              </div> 
              <div class="col-span-6  detailedpage_casestudiesitem_heading">
                {item.related_article_title}
              </div>
              <div class="col-span-6">
                <div class="grid grid-cols-2 gap-2">
                  <div class="col-span-1"/>
                  <div class="col-span-1">
                    <Button text={item.related_article_buttontext} href={"../pulse/"+ item.related_article_slug} color="#505050" />
                  </div>
                </div>
              </div>                            
            </div>
          </a>
        ))
      }
    </div>  
  </div>
</section>

