---
import Button from '../components/button.tsx'
import FAQ_Item from "../components/faq_item";
import ChevronRight from "../icons/chevronRight.tsx"


const { solution } = Astro.props;

console.log(solution);
const {id,draft,category,sub_category,name,description,
  slug,key_words,tags,heroimage,heading,sub_heading,
  content,related_articles_heading,related_articles_subheading,
  related_articles_description,related_articles_category,
  related_articles_items, faqs} = solution.data;


const { Content } = await solution.render();
const banner_img = {
    backgroundImage:
        "url('"+heroimage+"')",
};

const category_url = "/"+category;
const category_name =category[0].toUpperCase()+category.slice(1);
const sub_heading_display = sub_heading.toUpperCase();
---


  <section class="detailedpage_banner_topper">    
    <div class="container">
      <div class="wrapper">
        <div class="detailedpage_banner_topper_categoryheading">
      <a href={category_url}>{category_name}</a>
    </div>
    <ChevronRight />

    <div class="detailedpage_banner_topper_mainheading">
        Pulse Articles
      </div>
      </div>
    </div>
  </section>
  <section class="bg-hero" style={banner_img}>   
    <div class="container">
      <div class="contentWrapper">
          <p class="subHeading">{sub_heading_display}</p>
          <h1 class="heading">{heading}</h1>
        </div>
      </div>
    </div>
  </section>
<section class="about">
  <div class="container">
      <div class="aboutDesc">
        <Content />          
      </div>
              {
      faqs.map((item:any, index:any) => (
        <FAQ_Item 
          client:load
          question={item.question_title} 
          sub_title={item.sub_title} 
          short_answer={item.question_shortanswer} 
          long_answer={item.question_answer} 
          slug={item.slug} 
          image={item.image} />
      ))
      }
  </div>
</section>
  
	  <section class="caseStudies">
    <div class="container">
        <h2 class="sectionHeading">{related_articles_heading}</h2>
        <h4 class="subHeading">
          {related_articles_subheading}          
        </h4>  
        <p class="desc">{related_articles_description}</p>
      <div class="projectWrapper">
        {
          related_articles_items.map((item:any, index:any) => (                      
            <div class="project">
               <div class="imgWrapper">
                <img src={item.related_article_image} />                  
              </div>  
                <h2 class="title">
                {item.related_article_title}
              </h2>               
              <h4 class="text">
                {item.related_article_subheading}
              </h4>
            
              <Button className="btn" text={item.related_article_buttontext}
                 href={"../insights/"+ item.related_article_slug}  />                       
            </div>
          ))
        }
      </div>  
    </div>
  </section>



